<!--
Шаблон формы поиска

Секции:
@form - форма поиска
 -->

<!-- ****************************************** Шаблон формы поиска ****************************************** -->

<!-- @form -->
			<form action="%action%" method="POST">
				<input class="text" type="text" name="search" title="Поиск" />
				<input type="image" src="/design/images/search.gif" />
				<br clear="all" />
			</form>