<!-- @content -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#feedback2_modul_base_name#]</span></span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>[#feedback2_messages_list#]</h3>
			%list%
        </div>
    </div>
</div>
<!-- @list --><form action="?action=set_left_menu&leftmenu=delete_message" method="POST" id="message_list" enctype="multipart/form-data">
			<table class="admin_table">
				<tr>
					<th width="20">&#10003;</th>
					<th width="96">[#feedback2_messages_datetime_label#]</th>
					%fields_label%
					<th>...</th>
				</tr>
				%rows%
			</table>
			%pages%
			<hr/>
                <fieldset class="page_submit_field">
                    <input type="submit" style="float:left;" value="[#feedback2_messages_delete_checked#]">
                    <input type="button" value="[#feedback2_messages_export_csv#]" onclick="window.location.href='/admin/index.php?action=set_left_menu&leftmenu=export_messages'">
                    <input type="button" style="float:right;" value="[#feedback2_messages_delete_all#]" onclick="jspub_confirm('delete_all_messages','[#feedback2_message_delete_all_confirm#]')">
                </fieldset>
            </form>
<!-- @row --><tr>
					<td><input type="checkbox" name="mess_id[%id%]"></td>
					<td>%datetime%</td>
					%fields_items%
					<td>
						<a href="#" onclick="jspub_confirm('delete_message_one&id=%id%','[#feedback2_message_delete_confirm#]')"><img src="/admin/templates/default/images/icon_delet.gif" alt="delete"/></a>
					</td>
				</tr>

<!-- @field_label --><th>%field_label_value%</th>
<!-- @field_item --><td>%field_item_value%</td>
<!-- @list_null -->
<center>[#feedback2_messages_list_null#]</center>
<!-- @pages -->
<br/><center>%first% %backward% %previous% %pages_block% %next% %forward% %last%</center><br/>
<!-- @page_first -->
<a href="#" onclick="jspub_click('%url%')">[#feedback2_messages_list_page_first#]</a>
<!-- @page_backward-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_backward_disabled-->
&laquo;
<!-- @page_previous-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_previous_disabled-->
&laquo;
<!-- @page_forward-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_forward_disabled-->
&raquo;
<!-- @page_next-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_next_disabled-->
&raquo;
<!-- @page_last -->
<a href="#" onclick="jspub_click('%url%')">[#feedback2_messages_list_page_last#]</a>
<!-- @page_active -->
<a href="#" onclick="jspub_click('%url%')">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->