<!-- @field -->
<tr>
    <td>%title_value%</td>
    <td>%type_value%</td>
	<td>%name_value%</td>
    <td>%check_menu%</td>
    <td>%check_way%</td>
    <td>%check_admin%</td>
    <td>%action_del%</td>
</tr>
<!-- @check -->
<input type = "checkbox" name="%name%[%id%]" %is_checked% value="1" />

<!-- @action_field-->
<a href="#" onclick="jspub_confirm('%action_del%','Вы действительно хотите удалить поле? Все данные в комментариях с этим полем будут потеряны!');"><img src="/admin/templates/default/images/icon_delet.gif" alt="delete"/></a>


<!-- @main -->
<span class="content_header">Структура &rarr; <span class="black">Дополнительные свойства</span></span>
<div id="page_container">

    <div id="content_container">
        <div class="content">
            <h3>Список полей</h3>

            <form id = "structure" method="post" action="%save_action%">

                <table class="admin_table">
                    <tr>
                        <th>Название поля</th>
                        <th>Тип</th>
						<th>Переменная</th>
                        <th>Модуль меню</th>
                        <th>Модуль дороги</th>
                        <th>Адм. интерфейс</th>
                        <th colspan="2">...</th>
                    </tr>
                    %fields%
                </table>

                <input type="button" onclick="jspub_click('page_field_add');" value="Добавить поле" style="margin-bottom: 30px;">

                <input name = "save" type="submit" onclick="santaFormSubmit('structure'); return false;" value="Сохранить видимость переменных" >



            </form>
        </div>
    </div>
</div>

<!-- @add_field -->
<span class="content_header">Структура &rarr; <span class="black">Дополнительные свойства</span></span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Добавить поле</h3>

            <form id = "comment_field_form" action="%form_action%" method="POST">

                <fieldset>
                    <label for="name" style="width:150px;">Имя поля</label>
                    <input type="text" style="width:455px;" id="name" name="name">
                </fieldset>



                <fieldset>
                    <label for="id" style="width:150px;">id поля (латиницей)</label>
                    <input type="text" style="width:455px;" id="id" name="id">
                </fieldset>

                <fieldset>
                    <label for="type" style="width:455px;">Тип</label>
                    <select  id="type" name="type">
                        <option value="string">Строка</option>
<!--                        <option value="file">Текст</option>-->
                <!--        <option value="select">Выбор</option>-->
                        <option value="checkbox">Галочка</option>
                        <option value="pagesite">Страница</option>
<!--                        <option value="date">Дата</option>
                        <option value="textarea">Текст</option>-->
                    </select>
                </fieldset>


                <fieldset>
                    <label style="width:455px;">Отображать в меню</label>
                    <input name = "menu_show" type="checkbox" value="1" />
                </fieldset>


                <fieldset>
                    <label  style="width:455px;">Отображать в хлебных крошках</label>
                    <input name = "way_show" type="checkbox" value="1" />
                </fieldset>

                <fieldset>
                    <label style="width:455px;">Отображать в админке</label>
                        <input name = "admin_show" type="checkbox" value="1" />
                </fieldset>

                <fieldset class="page_submit_field">
                    <input type="button" name="" onclick="santaFormSubmit('comment_field_form'); return false;" value="[#comments_submit_label#]">
                </fieldset>
            </form>

        </div></div></div>